In [1]:
import pandasdmx as pds
# https://pandasdmx.readthedocs.io/en/stable/usage.html
pds.Request._agencies

{'': {'id': 'NO_AGENCY', 'resources': {}},
 'ESTAT_S': {'id': 'ESTAT',
  'resources': {'data': {'headers': {'Accept': 'application/vnd.sdmx.structurespecificdata+xml'}}},
  'url': 'http://ec.europa.eu/eurostat/SDMX/diss-web/rest',
  'name': 'Eurostat - structure-specific data format'},
 'ESTAT': {'id': 'ESTAT',
  'resources': {},
  'url': 'http://ec.europa.eu/eurostat/SDMX/diss-web/rest',
  'name': 'Eurostat - generic data format'},
 'UNSD': {'id': 'UNSD',
  'supports_series_keys_only': True,
  'resources': {},
  'url': 'http://data.un.org/WS/rest',
  'name': 'United Nations Statistics Division'},
 'UNESCO': {'id': 'UNESCO',
  'supports_series_keys_only': True,
  'headers': {'accept': 'application/vnd.sdmx.structure+xml;version=2.1'},
  'resources': {},
  'url': 'http://api.uis.unesco.org/sdmx',
  'name': 'UNESCO (subscription key required)'},
 'IMF_SDMXCENTRAL': {'id': 'IMF',
  'supports_series_keys_only': True,
  'resources': {},
  'url': 'https://sdmxcentral.imf.org/ws/public/sdmxapi/rest',
  'name': 'International Monetary Fund - SDMXCentral'},
 'SGR': {'id': 'SGR',
  'resources': {},
  'url': 'https://registry.sdmx.org/FusionRegistry/ws/rest',
  'name': 'SDMX Global Registry'},
 'INSEE': {'id': 'FR1',
  'resources': {'data': {'headers': {'Accept': 'application/vnd.sdmx.genericdata+xml;version=2.1'}}},
  'url': 'https://www.bdm.insee.fr/series/sdmx',
  'name': 'Institut national de la statistique et des études économiques'},
 'INSEE_S': {'id': 'FR1',
  'resources': {},
  'url': 'https://www.bdm.insee.fr/series/sdmx',
  'name': 'Institut national de la statistique et des études économiques - structure-specific data format'},
 'OECD': {'id': 'OECD',
  'resources': {'data': {'headers': {}, 'json': True}},
  'url': 'http://stats.oecd.org/SDMX-JSON',
  'name': 'Organisation for Economic Co-operation and Development'},
 'ECB': {'id': 'ECB',
  'supports_series_keys_only': True,
  'resources': {},
  'url': 'http://sdw-wsrest.ecb.int/service',
  'name': 'European Central Bank - generic data format'},
 'ECB_S': {'id': 'ECB',
  'supports_series_keys_only': True,
  'resources': {'data': {'headers': {'Accept': 'application/vnd.sdmx.structurespecificdata+xml;version=2.1'}}},
  'url': 'http://sdw-wsrest.ecb.int/service',
  'name': 'European Central Bank - structure-specific data format'},
 'ABS': {'id': 'ABS',
  'resources': {'data': {'headers': {}, 'json': True}},
  'url': 'http://stat.data.abs.gov.au/sdmx-json',
  'name': 'Australian Bureau of Statistics'},
 'WBG_WITS': {'name': 'World Bank Integrated Trade Solution',
  'id': 'WBG_WITS',
  'url': 'http://wits.worldbank.org/API/V1/SDMX/V21/rest',
  'resources': {'data': {'headers': {}}}},
 'INEGI': {'name': 'Instituto Nacional de estatistica y geografìa - INEGI (Mexico) - generic datasets',
  'id': 'INEGI',
  'url': 'http://sdmx.snieg.mx/service/rest',
  'resources': {'data': {'headers': {}}}},
 'INEGI_S': {'name': 'Instituto Nacional de estatistica y geografìa - INEGI (Mexico) - structure-specific datasets',
  'id': 'INEGI',
  'url': 'http://sdmx.snieg.mx/service/rest',
  'resources': {'data': {'headers': {'Accept': 'application/vnd.sdmx.structurespecificdata+xml'}}}},
 'ISTAT_S': {'name': 'Italian Statistics Office - structure-specific data',
  'url': 'http://sdmx.istat.it/SDMXWS/rest',
  'resources': {'data': {'headers': {'Accept': 'application/vnd.sdmx.structurespecificdata+xml'}}}},
 'ISTAT': {'name': 'Italian Statistics Office - generic data',
  'url': 'http://sdmx.istat.it/SDMXWS/rest',
  'resources': {'data': {'headers': {}}}},
 'NB': {'id': 'NB',
  'resources': {'data': {'headers': {'Accept': 'application/vnd.sdmx.genericdata+xml;version=2.1'}}},
  'url': 'https://data.norges-bank.no/api',
  'name': 'Norges Bank - generic data format'},
 'NB_S': {'id': 'NB',
  'resources': {'data': {'headers': {'Accept': 'application/vnd.sdmx.structurespecificdata+xml;version=2.1'}}},
  'url': 'https://data.norges-bank.no/api',
  'name': 'Norges Bank - structure-specific data format'},
 'ILO': {'id': 'ILO',
  'resources': {'data': {'headers': {}}},
  'url': 'http://www.ilo.org/ilostat/sdmx/ws/rest',
  'name': 'International Labour Organization - any format'}}

In [2]:
istat = pds.Request('ISTAT_S', timeout=3000)
flowr = istat.dataflow()

In [3]:
sets = flowr.write().dataflow
sets['src']= sets['name'].str.find('population')
sets[sets['src'] >= 0]

                                                       name  src
dataflow
152_879                 Inactive population  - monthly data    9
152_887   Inactive population - quarterly seasonally adj...    9
152_928                                Inactive  population   10
164_164     Estimated resident population - Years 2001-2011   19
164_279     Estimated resident population - Years 1982-1991   19
164_305     Estimated resident population - Years 1991-2001   19
164_346     Estimated resident population - Years 1952-1971   19
164_347     Estimated resident population - Years 1972-1981   19
164_496   Estimated resident population within the borde...   19
22_289                  Resident population  on 1st January    9
22_315                       Resident population  - balance    9
283_138   New series of estimates on the resident popula...   40
730_1049  Regular, irregular employment and population -...   34
737_1087  Regular, irregular employment and population -...   34
73_173    Prison population held in institutions for adu...    7
92_507         Regular, irregular employment and population   34
93_379        Regular,  irregular employment and population   35

In [4]:
population=istat.dataflow('IT1/22_289')

In [5]:
population.write()

{'codelist':                                 name
 CL_BASE_YEAR NaN           Base year
              0000        unspecified
              1980          year 1980
              1981          year 1981
              1982          year 1982
 ...                              ...
 CL_UNIT_MULT 2              Hundreds
              3             Thousands
              4     Tens of thousands
              6              Millions
              9              Billions

 [12183 rows x 1 columns],
 'dataflow':                                          name
 dataflow
 22_289    Resident population  on 1st January,
 'categoryscheme':                                                          name
 ISTAT_DW NaN                                           I.STAT
          101                                      Agriculture
          111                        Industry and Construction
          117                                         Services
          123  Public Administrations and Private Institutions
          138          External Trade and Internationalisation
          143                                           Prices
          149                                 Labour and wages
          21                         Population and Households
          30    Households Economic Conditions and Disparities
          36                                 Health statistics
          45                       Social Security and Welfare
          52                            Education and training
          6                                        Enterprises
          60                     Communication, culture, trips
          71                              Justice and Security
          729                             Territorial features
          80                  Citizens'opinions and daily life
          9                             Environment and Energy
          91                                 National Accounts,
 'conceptscheme':                                                                         name
 CROSS_DOMAIN NaN                                       Cross domain concepts
              ADJUSTMENT                                           Adjustment
              AGGR                                                  Aggregate
              AGGR_PIL                                         GDP aggregates
              ANNATA_AGRF                                   Agrarian year end
 ...                                                                      ...
 VARIAB_ALL   VIAGGIO                                            Type of trip
              VISITA_ACCERT  Type of doctor consultations or diagnostic tests
              VOCI_SPESA                                         Expenditures
              VOLON_ORG                       Organization-based volunteering
              ZONA_ALTIM                                             Altitude

 [849 rows x 1 columns]}

In [6]:
population.dataflow['22_289'].structure().dimensions.aslist()

[Dimension | FREQ,
 Dimension | ETA,
 Dimension | ITTER107,
 Dimension | SESSO,
 Dimension | STATO_CIV,
 Dimension | TIPO_INDDEM,
 TimeDimension | TIME_PERIOD]

In [7]:
population.dataflow['22_289'].structure().attributes.aslist()

[DataAttribute | BASE_PER,
 DataAttribute | BREAK,
 DataAttribute | CONF_STATUS,
 DataAttribute | METADATA_EN,
 DataAttribute | METADATA_IT,
 DataAttribute | OBS_PRE_BREAK,
 DataAttribute | OBS_STATUS,
 DataAttribute | UNIT_MEAS,
 DataAttribute | UNIT_MULT]

In [ ]:
data=istat.data('22_289')

In [ ]:
data